
body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url(https://th.bing.com/th/id/OIP.MSH9ZbCC0CHfnWnjVYJSqgHaDh?rs=1&pid=ImgDetMain);
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 25px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

footer{
    text-align: center;
    background: url(../img/bg.jpg);
    padding:20px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}


@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

}

