.productos{
    width: 55%;
    margin: 0 auto;
    padding: 50px;
}

.productos a{
    color: #000000;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#088c19;
}
.img{
    width: 100%;
}


.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

.motivar-click{
    margin-top: 20px;
    font-size: 1.2rem;
}
.motivar-click:hover{

    color: #088c19;
}

/* Media Queries */
@media (max-width: 768px) {
    .productos li {
        width: 45%; 
        margin: 10px 2.5%; 
    }

    .productos h2 {
        font-size: 24px;
    }

    .productos a{
        margin-top: 10px;
    }

    .producto-descripcion {
        font-size: 16px; 
    }

    .producto-precio {
        font-size: 18px; 
    }

    .motivar-click {
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    .productos li {
        width: 100%; 
        margin: 10px 0; 
    }

    .productos h2 {
        font-size: 20px; 
    }

    .producto-descripcion {
        font-size: 14px; 
    }

    .producto-precio {
        font-size: 16px; 
    }

    .motivar-click {
        font-size: 0.9rem;  
    }
}