.banner{
    padding: 5px 2%;
}



.sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon-social{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.icon-search{
    width: 25px;
    height: 25px;
}

/* .img-arctic {
    width: 100%;
    height: auto; 
    max-height: 280px; 
    border-radius: 20px;
    object-fit: cover;
    display: block;
} */
