.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.title-main {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 0 1em;
    clear: left;
    position: absolute;
    top: 30%;
    color: #fffee9;
    font-weight: bold;
}

.call-action {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem; 
    position: absolute;
    top: 60%; 
}

.button {
    position: static;
    color: white;
    text-decoration: none;
    background-color: #333; 
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #5a5a5a; 
    transform: scale(1.05); 
}

.banner {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.main-content {
    padding: 3em 0;
    background: #FEFEFE;
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.title-sec {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.main-content p {
    margin: 0 0 1em;
}

.main-content strong {
    font-weight: bold;
}

.main-content em {
    font-style: italic;
}

.utensils {
    width: 100%;
    max-width: 135px;
    margin: 0 15px 15px 0;
    display: block;
}

.map {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.map-content {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.differentials {
    padding: 1.7em 0;
    background: #888888;
}

.content-differentials {
    width: 90%;
    max-width: 740px;
    margin: 0 auto;
    display: flex;
}

.list-differentials {
    width: 70%;
    display: block; 
}

.items {
    line-height: 1.5;
}

.items:before {
    content: "★";
}

.items:first-child {
    font-weight: bold;
}

.img-differentials {
    width: 50%;
    box-shadow: 5px 10px 30px 10px #000000;
}

.video {
    height: 295px;
    max-width: 520px;
    margin: 0.5em auto;
    margin-top: 2rem;
}

.iframe{
    width: 100%;
    height: 100%;
    margin: 0 15px;
}

/* Media Queries */
@media (max-width: 768px) {
    .main-content {
        width: 95%;
    }

    .utensils {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .banner{
        height: 35vh;
    }

    .mapa-content {
        width: 95%;
    }

    .content-differentials {
        width: 95%;
    }

    .img-differentials {
        max-width: 100%;
    }

    .video {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title-sec {
        font-size: 1.5em;
    }

    .iframe{
        width: 90%;
        height: 100%;
        margin: 0 15px;
    }

    .img-differentials {
        margin-left: 2%;
    }

    .main-content {
        padding: 2em 0;
    }

    .items {
        font-size: 0.9em;
    }

    .video {
        width: 100%;
        margin-top: 1rem;
    }
}