main{
    text-align: center;
}

.cards{
    width: 55%;
    margin: 0 auto;
    padding: 50px;
}

.cards a{
    color: #000000;
}

.cards li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 15px 1.5%;
    padding: 30px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.156);
    cursor: pointer;
}

.cards li:hover{
    border-color:#c78c19;
}

.cards li:active{
    border-color:#088c19;
}
.img-logo{
    width: 100%;
}

.cards h2{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.product-description{
    font-size: 18px;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.motivate-click{
    margin-top: 20px;
    font-size: 1.2rem;
}
.motivate-click:hover{

    color: #088c19;
}

/* Media Queries */

@media (max-width: 1024px) {

    .cards li {
        width: 100%; 
        margin: 10px 2.5%; 
    }

    .cards h2 {
        font-size: 24px;
    }

    .product-description {
        font-size: 16px; 
    }

    .product-price {
        font-size: 16px; 
        font-weight: bold;
    }

    .motivate-click {
        font-size: 1rem; 
    }
}

@media (max-width: 768px) {

    .cards li {
        width: 100%; 
        margin: 10px 2.5%; 
    }

    .cards h2 {
        font-size: 20px;
    }

    .cards a{
        margin-top: 15px;
    }

    .product-description {
        font-size: 14px; 
    }

    .product-price {
        font-size: 14px; 
        font-weight: bold;
    }

    .motivate-click {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {

    .cards li {
        width: 100%; 
        margin: 10px 2.5%; 
    }

    .cards h2 {
        font-size: 16px; 
    }

    .product-description {
        font-size: 12px; 
    }

    .product-price {
        font-size: 12px; 
        font-weight: bold;
    }

    .motivate-click {
        font-size: 0.7rem;  
    }
}